// Dictionary
$color-black: #404040;
$color-gray: #757575;
$color-light-gray: #ebebeb;
$color-white: #ffffff;
$color-blue: #197bbd;
$color-light-blue: #70a6e8;
$color-lightest-blue: #f0f7ff;
$color-yellow: #ffc145;
$color-green: #439a86;
$color-red: #bb4430;

// Semantic Colors
$color-background: $color-white;
$color-primary: $color-black;
$color-secondary: $color-gray;
$color-accent: $color-blue;
$color-upgrade: $color-yellow;
$color-divider: $color-light-gray;
$color-positive: $color-green;
$color-negative: $color-red;
$color-focus: $color-blue;
