$radius-module: 0.25rem;

// Modular
$radius-small: $radius-module; //4px
$radius-medium: calc($radius-module * 1.5); //6px
$radius-large: calc($radius-module * 2); //8px
$radius-x-large: calc($radius-module * 3); //12px
$radius-xx-large: calc($radius-module * 4); //16px
$radius-xxx-large: calc($radius-module * 5); //32px

//Special Values
$radius-min: 1px;
$radius-pill: 999rem;

//Semantic
$radius-card: $radius-xxx-large;
