@import '@/styles/spacing';

.root {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-2;
    padding-top: $spacing-2;
    padding-bottom: $spacing-2;
    padding-left: $spacing-3;
    padding-right: $spacing-3;
}
