@import '@/styles/color';
@import '@/styles/spacing';
@import '@/styles/type';

.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: $spacing-10;
    position: sticky;
    top: 0;
    max-height: 100vh;
    padding-top: $spacing-4;
    padding-bottom: $spacing-4;
    padding-left: $spacing-5;
    padding-right: $spacing-5;
    border-right: 1px solid $color-divider;
    background-color: white;
}

.nav {
    flex-grow: 1;
    //overflow-y: scroll;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & .footerIllustration {
        width: 4.5rem;
        margin-bottom: $spacing-1;
    }

    & .footerText {
        font: $type-body-micro;
        line-height: 1.2;
        width: 7rem;
        margin-bottom: $spacing-2;
    }
}
