@import '@/styles/spacing';
@import '@/styles/media';

@mixin transaction-list-grid {
    display: grid;
    column-gap: $spacing-3;
    align-items: start;

    @media only screen and (min-width: #{$media-tablet + 1}) {
        grid-template-columns: 1fr 8rem 6rem 6rem;
        grid-template-areas: 'receiver type date amount';
    }
    @media only screen and (max-width: #{$media-tablet}) {
        grid-template-columns: 1fr 6rem;
        grid-template-areas:
            'receiver amount'
            'type .'
            'date .';
    }
}
