@import '@/styles/color';
@import '@/styles/radius';
@import '@/styles/spacing';
@import '@/styles/type';

.root {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: $radius-x-large;
    outline: none;
    text-decoration: none;
    appearance: none;
    cursor: pointer;
    font: $type-body-tiny;
    font-weight: 600;
    padding-top: $spacing-1-5;
    padding-bottom: $spacing-1-5;
    padding-left: $spacing-2-5;
    padding-right: $spacing-2-5;
    border-radius: $radius-x-large;
    background-color: $color-upgrade;
    color: $color-primary;

    &:focus-visible {
        outline: $color-accent auto 1px;
        outline: activeborder auto 1px;
        outline: -moz-mac-focusring auto 1px;
        outline: -webkit-focus-ring-color auto 1px;
    }
}
