@import '@/styles/color';
@import '@/styles/radius';

.root {
    width: 100%;
    height: 0.5rem;
    background-color: $color-divider;
    border-radius: $radius-pill;
}

// zero state - empty progress
// 0.1% case – min width
.fill {
    max-width: 100%;
    height: 100%;
    background-color: $color-accent;
    border-radius: $radius-pill;
}
