@import '@/styles/media';

.root {

    @media only screen and (min-width: #{$media-wide-desktop + 1}) {
        max-width: 80rem;
    }

    @media only screen and (max-width: #{$media-wide-desktop}) {
        max-width: 60rem;
    }
}
