.root {
    color: currentColor;
    aspect-ratio: 1;

    &.small {
        width: 1.25rem;
        height: 1.25rem;
    }

    &.medium {
        width: 1.5rem;
        height: 1.5rem;
    }

    &.large {
        width: 2.5rem;
        height: 2.5rem;
    }

    &.huge {
        width: 3rem;
        height: 3rem;
    }
}
