@import '@/styles/color';
@import '@/styles/radius';
@import '@/styles/spacing';

.root {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: $radius-pill;
    outline: none;
    background-color: transparent;
    text-decoration: none;
    appearance: none;
    cursor: pointer;
    padding-top: $spacing-1;
    padding-bottom: $spacing-1;
    padding-left: $spacing-1;
    padding-right: $spacing-1;
    line-height: 0;
    position: relative;
    color: currentColor;

    &:hover {
        color: $color-accent;
    }

    &:focus-visible {
        outline: $color-accent auto 1px;
        outline: activeborder auto 1px;
        outline: -moz-mac-focusring auto 1px;
        outline: -webkit-focus-ring-color auto 1px;
    }
}

.indicator {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: $radius-pill;
    background-color: $color-red;
    box-shadow: 0 0 0 2px $color-background;
}
